# Ignore node_modules except for needed packages
node_modules/

# Ignore build output (if applicable)
dist/

# Ignore test files
**/*.test.ts
**/*.spec.ts

# Ignore configuration or dev files
.vscode/
tsconfig.json
webpack.config.js
.nvmrc
.npmrc
.gitignore
eslint.config.js
mise.toml
pnpm-workspace.yaml
pnpm-lock.yaml

# Ignore source files if you're bundling
src/
